# Flags de características
NEXT_PUBLIC_HERO_V2=false

# Configuración de la aplicación
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Base de datos
DATABASE_URL="postgresql://username:password@localhost:5432/egrow_academy"
DIRECT_URL="postgresql://username:password@localhost:5432/egrow_academy"

# NextAuth
NEXTAUTH_SECRET="your-secret-key"
NEXTAUTH_URL="http://localhost:3000"

# Stripe
STRIPE_SECRET_KEY="sk_test_..."
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_..."

# Email
RESEND_API_KEY="re_..."

# UploadThing
UPLOADTHING_SECRET="sk_live_..."
UPLOADTHING_APP_ID="your-app-id" 